<h1>Add New Author</h1>

<form action="/authors" method="POST">
  <input type="text" name="name" placeholder="Enter Author Name" required>
  <button>Add Author</button>
</form>

<a href="/authors">Back</a>